@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.slide {
  transform: scale(0.8);
  transition: 300ms;
}

.activeSlide {
  transform: scale(1);
  transition: 300ms;
}
.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.next {
  right: 0%;
  top: 50%;
  
}
.prev {
  float: left;
  top: 50%;
}
.profile {
  margin-bottom: 30px;
  filter: drop-shadow(0 0 0.75rem gray);
}
.info-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}






